/*
    Anatomia do CSS

    nome-da-tag {
        property: value;
        property: value;
        property: value;
    }

    Selector (existem alguns, não é somente o nome-da-tag)
    Declaration
    Properties
    Property Value
*/



